@using Practice_1.DAL
@model IEnumerable<Practice_1.Domain.Entity.Certificate>

@{
    ViewData["Title"] = "Index";
}

<h1>Справки</h1>
<body>
    <style type="text/css">
     TABLE {
     width: 300px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
   }
   TH {
    background: #b0e0e6; /* Цвет фона */
   
     }
     </style>
</body>
<table class="table">
    <thead>
        <tr>
            <th>
                Уникальный номер студента
            </th>
            <th>
                Фамилия студента
            </th>
            <th>
                Имя студента
            </th>
            <th>
                Фамилия врача
            </th>
            <th>
                Имя врача
            </th>
            <th>
                Отчество врача
            </th>
            <th>
                Начало действия справки
            </th>
            <th>
                Конец действия справки
            </th>
            <th>
                Тип взаимодействия
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@using (ApplicationContext db = new ApplicationContext("DefaultConnection"))
   {
            var _result = from certificate in Model
            join doctor in db.Doctor on certificate.Doctor_ID equals doctor.Doctor_ID
                          join student in db.Student on certificate.Student_ID equals student.Student_ID
                          select new
                          {
                              number = certificate.Certificate_number,
                              surname = doctor.Surname,
                              name = doctor.Name,
                              middle_name = doctor.Middle_name,
                              start = certificate.The_beginning_of_the_action,
                              end = certificate.End_of_action,
                              type = certificate.Type,
                              student = certificate.Student_ID,
                              surname_st = student.Surname,
                              Name = student.Name
                          };
            @foreach (var certificate in _result)
            {
                <tr>
                    <td>@certificate.student</td><td>@certificate.surname_st</td><td>@certificate.Name</td>
                    <td>@certificate.surname</td><td>@certificate.name</td>
                    <td>@certificate.middle_name</td><td>@certificate.start</td>
                    <td>@certificate.end</td><td>@certificate.type</td><td>
                <a asp-action="Edit" asp-route-id="@certificate.number">Edit</a> |
                <a asp-action="Delete" asp-route-id="@certificate.number">Delete</a>
            </td>
                </tr>
            }
   }
   
    </tbody>
    <form style="display: inline-block;" asp-controller="Certificates" asp-action="Index" method="Index">
           <input type="submit" value="Back">
           </form>
