@model Practice_1.Domain.Entity.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Middle_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Middle_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birth_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birth_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direction_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direction_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_basis_study)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_basis_study)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_form_study)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_form_study)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport_data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport_data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contract_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contract_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certificate_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certificate_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.E_mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.E_mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Student_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
