@using Practice_1.DAL
@model IEnumerable<Practice_1.Domain.Entity.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Students</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Фамилия
            </th>
            <th>
                Имя
            </th>
            <th>
               Отчество
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Пол
            </th>
            <th>
                Город
            </th>
            <th>
                Направление
            </th>
            <th>
                Группа
            </th>
            <th>
                Основа обучения
            </th>
            <th>
                Форма обучения
            </th>
            <th>
                Паспортные данные
            </th>
            <th>
                Номер договора
            </th>
            <th>
                Номер справки
            </th>
            <th>
                Почта
            </th>
            <th>
                Номер телефона
            </th>
            <th>
                Курс
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@using (ApplicationContext db = new ApplicationContext("DefaultConnection"))
        {
            var _result = from student in db.Student
                       join sex in db.Sex on student.Sex_ID equals sex.ID_sex
                       join city in db.City on student.City_ID equals city.City_ID
                       join direction in db.Direction on student.Direction_ID equals direction.ID_Direction
                       join Group in db.Group on student.Group_ID equals Group.ID_Group
                       join Basis in db.Basis_of_study on student.ID_basis_study equals Basis.ID_basis_study
                       join Form in db.Form_of_study on student.ID_form_study equals Form.ID_form_study
                       select new
                       {
                           Id = student.Student_ID,
                           Name = student.Name,
                           Surname = student.Surname,
                           Middle_name = student.Middle_name,
                           Birth_date = student.Birth_date,
                           Sex = sex.sex,
                           City = city.City_Name,
                           Direction = direction.Name_Direction,
                           Group = Group.@group,
                           Basis_study = Basis.Basis_study,
                           Form_study = Form.Study_form,
                           Passport_data = student.Passport_data,
                           Contract = student.Contract_number,
                           Certificate = student.Certificate_number,
                           E_mail = student.E_mail,
                           Phone = student.Phone_number,
                           Course = student.Course
                       };
            
                       @foreach (var Student in _result)
                   {
                   <tr>
                    <td>@Student.Surname</td><td>@Student.Name</td><td>@Student.Middle_name</td><td class="Birth_date" width = 100>@Student.Birth_date</td><td>@Student.Sex</td><td>@Student.City</td>
                    <td>@Student.Direction</td><td>@Student.Group</td><td>@Student.Basis_study</td>
                    <td>@Student.Form_study</td><td>@Student.Passport_data</td><td>@Student.Contract</td>
                    <td>@Student.Certificate</td><td>@Student.E_mail</td><td>@Student.Phone</td>
                    <td>@Student.Course</td><td>
                        <a asp-action="Edit" asp-route-id="@Student.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@Student.Id">Delete</a>
                    </td>
                   </tr>
                   }
        }
        <form style="display: inline-block;" asp-controller="Students" asp-action="Index" method="Index">
           <input type="submit" value="Update">
           </form>
           <a asp-controller="Certificates" asp-action="Index" method="index">Список справок</a>
    </tbody>
</table>
